{%extends 'basecontact.html'%}
{%block content%}

    <style>
        #sub{
          
            cursor:pointer;
            font-size: 1vw;
        }
        html, body {
            max-width: 100%;
            
                font-size:1.2vw;
            
        }
        
        input::placeholder {
            font-size:1vw;
          }
         
        textarea {
            resize: vertical;
            
        }
        textarea::placeholder {
            font-size:1vw;
            
        }
        #bor{
            border: 0.2em solid black;
            padding: 1%;
            margin:1%;
        }
    </style>
<div id="bor">
    
<form action="contact" method="POST">
    {% csrf_token %}
<input type="text" name="name" style="width: 95%; padding: 1%;  margin:1%;" placeholder="Name" required>
<input type="email" name="email" style="width: 95%; padding: 1%;  margin:1%;" placeholder="Email" required>
<input type="number" name="ph" style="width: 95%; padding: 1%;  margin:1%;" placeholder="Phone Number" required>
<textarea style="width: 95%; padding: 1%;  margin:1%;  height:10vw;" placeholder="Message" name="desc" required>
</textarea>
<input type="submit" id="sub" value="Send" style="background-color:#555555; border: 0.2em solid black; color:white; width: fit-content; padding: 0.8% 2%; margin:1%;"></input>
</input>

</form>
</div>
<script>
    document.getElementById("sub").addEventListener("mouseover", ()=>{
        document.getElementById("sub").style.color="black";
        document.getElementById("sub").style.backgroundColor="white";
    })
    document.getElementById("sub").addEventListener("mouseout", ()=>{
        document.getElementById("sub").style.color="white";
        document.getElementById("sub").style.backgroundColor="#555555";
    })
    

</script>
{%endblock%}